# Data Rescaling

Your preprocessed data may contain attributes with a mixtures of scales for various quantities such as dollars, kilograms and sales volume.

Many machine learning methods expect or are more effective if the data attributes have the same scale. Two popular data scaling methods are normalization and standardization.

In [62]:
%autosave 30

import pandas as pd
import numpy as np
import xlrd
import sklearn


# Read in the two files but call the data old and new and create columns to track
house_df = pd.read_excel('House.xlsx')
house_df.dtypes
house_df = house_df.apply(pd.to_numeric, errors='coerce')

Autosaving every 30 seconds

In [63]:
house_df.fillna(0, inplace=True)
house_df.apply(pd.to_numeric, errors='ignore')
house_df.dtypes

Lower Super Output Area    float64
Names                      float64
Houses                       int64
Sales                        int64
Price                      float64
dtype: object

In [64]:
housey_df=house_df[['Houses', 'Price', 'Sales']]
housey_df.head()

   Houses     Price  Sales
0     747  115000.0     39
1     461  123000.0      6
2     616  129000.0      3
3     767  129600.0     16
4     748  130000.0      3

In [65]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() 
scaled_values = scaler.fit_transform(housey_df) 
housey_df.loc[:,:] = scaled_values

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [66]:
housey_df.head()

     Houses     Price     Sales
0  0.253363  0.020536  0.071823
1  0.039611  0.021964  0.011050
2  0.155456  0.023036  0.005525
3  0.268311  0.023143  0.029466
4  0.254111  0.023214  0.005525